{% extends 'base.html' %}
{% block title %} Поставщики {% endblock %}

{% block content %}
<div class = "box">
    <h4>Добавление обслуживающего банка</h4>
    <form name = 'addBankRelation' action = '/addBankRelation' method = 'POST'>
        {% if current_user.is_authenticated and current_user.get_role() == 'ADMIN'%}
        
        <p><select name = "user">
            <option value = "-1">Выберите пользователя</option>
            {% for item in users%}
            <option value = "{{item[0]}}">{{item[1]}} - {{item[2]}} {{item[3]}} - {{item[4]}}</option>
            {%endfor%}
        </select></p>
        <!--        <p><input type="text" name="search" placeholder = "Доделать поиск"></p>-->
        {%endif%}
        <p><select name = "banks">
            <option value = "-1">Выберите банк</option>
            {% for item in bank%}
                <option value = "{{item[0]}}">{{item[1]}}</option>
            {%endfor%}
        </select></p>
        <p><input type = 'submit' class = "input" value = 'Добавить обслуживание банка'></p>
    </form>
</div>
{% endblock %}