<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">

    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <header>
        <div class='header'>
            <a href='/'><img class='logo' src="/static/logo.png"></a>
            <nav class='links'>
                {% if current_user.is_authenticated and current_user.get_role() == 'ADMIN'%}
                <a class='link' href="/users">Пользователи</a>
                {% endif %}
                <a class='link' href="#">Пункт</a>
                {% if current_user.is_authenticated %}
                    <a id="button_a" class = "link" href="/logout">Выйти</a>
                {% else %}
                    <a class='link' href="/login">Войти</a>
                {% endif %}
            </nav>
        </div>

    </header>
    {% block content %}
    {% endblock %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <script src='/static/script.js'></script>
</body>

</html>