{% extends 'base.html' %}
{% block title %} Поставщики {% endblock %}

{% block content %}
Поставщик осуществляет предпринимательскую деятельность в соответствии с условиями заключённого договора поставки, который является одним из видов договора купли-продажи. В соответствии с договором поставки поставщик обязуется передать в обусловленный срок или сроки производимые либо закупаемые им товары (и или услуги) покупателю для использования в предпринимательской деятельности или в других целях, не связанных с личным, семейным, домашним или иным подобным использованием.
{% endblock %}